openapi: 3.1.0
info:
  title: TalkPilot API
  version: 1.0.0
  description: |
    The TalkPilot API allows you to programmatically manage your call center agents,
    employees, forwarding slots, knowledge base, and more.

    ## Authentication

    All API requests require an API key passed via the `X-API-Key` header:

    ```
    X-API-Key: tp_live_abc123def456...
    ```

    An API key can reach every organization its creator is a member of (see
    `GET /v1/organization`) and can be restricted to specific agents and permissions.
    Create and manage keys in the TalkPilot Dashboard under **Settings > API**
    (Super-Admin and Dev-Admin only).

    ## Rate Limiting

    Default limits per API key: **60 requests/minute** and **1,000 requests/hour**
    (both enforced, both configurable per key).

    Rate limit headers are included in every response to a request authenticated
    with an API key (Dashboard JWT requests are not rate limited):
    - `X-RateLimit-Limit` — Max requests per minute
    - `X-RateLimit-Remaining` — Remaining requests in the current minute window
    - `X-RateLimit-Reset` — Unix timestamp roughly 60 seconds in the future

    When rate limited, the API returns `429 Too Many Requests` with `Retry-After: 60`
    (minute window) or `Retry-After: 3600` (hour window).

    ## Pagination

    List endpoints support pagination via query parameters:
    - `page` — Page number (default: 1)
    - `limit` — Items per page (default: 20, max: 100)

    Paginated responses include a `pagination` object with `page`, `limit`, `total`, and `pages`.

    ## Error Format

    All errors follow a consistent format:

    ```json
    {
      "error": {
        "code": "VALIDATION_ERROR",
        "message": "Human-readable description",
        "details": [{ "field": "name", "message": "Required" }],
        "request_id": "req_abc123"
      }
    }
    ```

  contact:
    name: TalkPilot Support
    email: support@talkpilot.io
  license:
    name: Proprietary
    identifier: LicenseRef-Proprietary

servers:
  - url: https://api.talkpilot.io
    description: Production

tags:
  - name: Health
    description: API health and status
  - name: Agents
    description: Manage AI agent configurations
  - name: Workflow
    description: Multi-state conversation flow of an agent
  - name: Tools
    description: Manage agent tools (HTTP requests, call transfers, etc.)
  - name: Employees
    description: Manage employees linked to agents
  - name: Contacts
    description: Customer contacts (customer_database) per agent — the voice agent recognises callers and greets them by name or tag from here
  - name: Forwarding Slots
    description: Manage call forwarding slot assignments
  - name: Knowledge Base
    description: Manage agent knowledge base documents
  - name: Calls
    description: Read call records and transcripts
  - name: Organization
    description: Organization-level settings
  - name: API Keys
    description: Manage API keys (Dashboard JWT auth only; super_admin and dev_admin)

security:
  - apiKey: []

paths:
  # ──────────────────────────────────────────
  # Health
  # ──────────────────────────────────────────
  /v1/health:
    get:
      operationId: getHealth
      tags: [Health]
      summary: Health check
      description: Returns API status. No authentication required.
      security: []
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  version:
                    type: string
                    description: Semantic version of the API contract
                    example: "1.0.0"
                  commit:
                    type: string
                    description: Git commit of the deployed function (`dev` when run locally)
                    example: "0dfa0031c2e4"
                  deployed_at:
                    type: [string, "null"]
                    format: date-time
                    description: When this build was deployed
                  timestamp:
                    type: string
                    format: date-time

  # ──────────────────────────────────────────
  # Agents
  # ──────────────────────────────────────────
  /v1/agents:
    get:
      operationId: listAgents
      tags: [Agents]
      summary: List agents
      description: |
        Returns all agents accessible to the API key. If the key has
        `allowed_agent_ids` set, only those agents are returned.
      parameters:
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of agents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Agent"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
              example:
                data:
                  - id: "550e8400-e29b-41d4-a716-446655440000"
                    name: "Rezeption Bot"
                    phone_number: "+4930123456"
                    is_active: true
                    language: "de"
                    llm_provider: "openai"
                    llm_model: "gpt-4.1"
                    voice_id: "sarah"
                    created_at: "2025-06-01T10:00:00Z"
                pagination:
                  page: 1
                  limit: 20
                  total: 3
                  pages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/agents/{agentId}:
    get:
      operationId: getAgent
      tags: [Agents]
      summary: Get agent details
      description: Returns the full configuration of a single agent.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      responses:
        "200":
          description: Agent details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
              example:
                id: "550e8400-e29b-41d4-a716-446655440000"
                name: "Rezeption Bot"
                phone_number: "+4930123456"
                is_active: true
                language: "de"
                formality: "formal"
                llm_provider: "openai"
                llm_model: "gpt-4.1"
                llm_temperature: 0.7
                tts_provider: "cartesia"
                voice_id: "sarah"
                realtime_voice: null
                speaking_rate: 1.0
                stt_provider: "deepgram"
                prompt: "Du bist ein freundlicher Rezeptionsbot..."
                greeting: "Guten Tag, wie kann ich Ihnen helfen?"
                post_call_webhook_url: "https://example.com/webhook"
                schedule:
                  timezone: "Europe/Berlin"
                  rules:
                    - days: [1, 2, 3, 4, 5]
                      start_time: "08:00"
                      end_time: "18:00"
                backup_agent_id: null
                allow_greeting_interruption: true
                short_calls_auto_edit: false
                track_caller_name: true
                transfer_timeout_seconds: 30
                created_at: "2025-06-01T10:00:00Z"
                updated_at: "2025-06-15T14:30:00Z"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    patch:
      operationId: updateAgent
      tags: [Agents]
      summary: Update agent settings
      description: |
        Partially update an agent's configuration. Only include the fields
        you want to change. Omitted fields remain unchanged.

        **Note:** `phone_number`, `organization_id`, `metadata` and `retention_days`
        are read-only via the API; `workflow` has its own endpoint.

        **This endpoint is strict:** any field that is not updatable (unknown or
        read-only) is rejected with `400 VALIDATION_ERROR`, one `details` entry per
        field. The other `PATCH` endpoints ignore unknown fields.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentUpdate"
            examples:
              changePrompt:
                summary: Update system prompt
                value:
                  prompt: "Du bist ein professioneller Kundenservice-Agent..."
                  greeting: "Willkommen bei Firma X, wie kann ich helfen?"
              toggleActive:
                summary: Activate/deactivate agent
                value:
                  is_active: false
              updateSchedule:
                summary: Set business hours
                value:
                  schedule:
                    timezone: "Europe/Berlin"
                    rules:
                      - days: [1, 2, 3, 4, 5]
                        start_time: "09:00"
                        end_time: "17:00"
      responses:
        "200":
          description: Updated agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agent"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/agents/{agentId}/status:
    get:
      operationId: getAgentStatus
      tags: [Agents]
      summary: Get agent status
      description: |
        Lightweight endpoint returning only the agent's active status and
        schedule, plus the computed `is_within_schedule`. Useful for monitoring
        dashboards.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      responses:
        "200":
          description: Agent status
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  is_active:
                    type: boolean
                  schedule:
                    $ref: "#/components/schemas/AgentSchedule"
                  is_within_schedule:
                    type: boolean
                    description: Whether the agent is currently within scheduled hours
              example:
                id: "550e8400-e29b-41d4-a716-446655440000"
                name: "Rezeption Bot"
                is_active: true
                schedule:
                  timezone: "Europe/Berlin"
                  rules:
                    - days: [1, 2, 3, 4, 5]
                      start_time: "08:00"
                      end_time: "18:00"
                is_within_schedule: true
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Workflow
  # ──────────────────────────────────────────
  /v1/agents/{agentId}/workflow:
    get:
      operationId: getWorkflow
      tags: [Workflow]
      summary: Get workflow
      description: |
        Returns the multi-state conversation flow of an agent. Single-prompt
        agents have no workflow — `workflow` is `null` for them.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      responses:
        "200":
          description: Workflow of the agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    put:
      operationId: replaceWorkflow
      tags: [Workflow]
      summary: Replace workflow
      description: |
        Replaces the workflow completely — there is no partial update. The body
        may be the workflow object itself or wrapped as `{"workflow": {...}}`.
        Send `{"workflow": null}` to remove the workflow; the agent then runs as a
        single-prompt agent again.

        The workflow is validated against the same rules the voice runtime
        enforces. An invalid workflow is rejected with `400 VALIDATION_ERROR`
        listing every problem found, and nothing is written.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/Workflow"
                - type: object
                  required: [workflow]
                  properties:
                    workflow:
                      oneOf:
                        - $ref: "#/components/schemas/Workflow"
                        - type: "null"
            examples:
              replace:
                summary: Replace the flow
                value:
                  name: "Inbound Call Flow"
                  description: "intent_analysis routes, callback_info is terminal."
                  steps:
                    - id: "intent_analysis"
                      name: "Anruf-Analyse"
                      description: "Erkenne das Anliegen und route weiter."
                      completion: "Anliegen erkannt und weitergeleitet."
                      step_type: "prompt"
                      next:
                        - id: "callback_info"
                    - id: "callback_info"
                      name: "Rückruf-Daten aufnehmen"
                      description: "Nimm die fehlenden Pflichtangaben auf."
                      completion: "Daten erfasst, Anruf beendet."
                      step_type: "prompt"
                      next: []
              clear:
                summary: Remove the workflow
                value:
                  workflow: null
      responses:
        "200":
          description: Stored workflow
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkflowResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Agent Tools
  # ──────────────────────────────────────────
  /v1/agents/{agentId}/tools:
    get:
      operationId: listTools
      tags: [Tools]
      summary: List agent tools
      description: Returns all tools configured for the specified agent.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      responses:
        "200":
          description: List of tools
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/AgentTool"
              example:
                data:
                  - id: "tool-uuid-1"
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
                    name: "lookup_customer"
                    display_name: "Kunden-Lookup"
                    description: "Looks up customer information by phone number"
                    tool_type: "http_request"
                    is_enabled: true
                    priority: 1
                    config:
                      url: "https://crm.example.com/api/customers"
                      method: "GET"
                      headers:
                        - name: "Authorization"
                          value: "Bearer {{API_KEY}}"
                      timeout: "5000"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    post:
      operationId: createTool
      tags: [Tools]
      summary: Create a tool
      description: |
        Add a new tool to an agent. The `tool_type` determines which fields
        are required in the `config` object.

        **Tool types and their config:**

        - **`http_request`** — Make HTTP requests to external APIs
          ```json
          { "url": "https://...", "method": "GET", "headers": [{"name":"...", "value":"..."}], "query_params": [{"name":"...", "value":"..."}], "timeout": "5000", "speak_during_execution": true, "speak_after_execution": true }
          ```
          `timeout` is a **string in milliseconds**; header/query entries use the key
          `name`. `"timeout": 30` or `{"key": ...}` are rejected with `400`, because the
          voice agent silently drops such entries.
        - **`transfer_call`** — Cold/warm call transfer
          ```json
          { "phone_number": "+49...", "transfer_mode": "cold", "play_hold_music": false }
          ```
        - **`monitored_transfer`** — SIP INVITE transfer with monitoring
          ```json
          { "phone_number": "+49...", "timeout_seconds": 20 }
          ```
        - **`end_call`** — End the call
          ```json
          { "goodbye_message": "Auf Wiedersehen!" }
          ```
        - **`extract_variable`** — Extract structured data from conversation
          ```json
          { "variable_name": "email", "variable_type": "email", "prompt_text": "...", "example_format": "user@example.com", "confirmation_enabled": true }
          ```
        - **`play_tone`** — Play DTMF tones
          ```json
          { "tone_type": "dtmf", "dtmf_digit": "1", "duration": 500, "volume": 0.8 }
          ```
        - **`knowledge_base`** — Search agent knowledge base
          ```json
          { "top_k": 5, "similarity_threshold": 0.7, "bridging_sentence": "Einen Moment..." }
          ```
        - **`set_call_result`** — Let the agent record a call outcome (outbound campaigns); no config, send `{}`
        - **`switch_agent`** — Hand the live call over to another agent of your organization
          ```json
          { "target_agent_id": "<agent uuid>", "ring_count": 1, "intro_instructions": "optional" }
          ```
        - **`identify_caller`** — Identify the caller against your system via a
          case-number + postcode handshake through your own webhooks
          (`lookup_url`, `fetch_case_url`, optional `verify_plz_url`, digit settings for
          `aktenzeichen` and `plz`). Set this up together with TalkPilot support.
        - **`verify_value`** — Deterministic check of a dictated value; every outcome
          referenced in `rules`, `default_outcome` and `unresolved_outcome` must be a key of `outcomes`
          ```json
          { "value": { "name": "plz", "type": "digits" }, "rules": [{ "match": "in", "values": ["10115"], "outcome": "ok" }], "default_outcome": "nein", "unresolved_outcome": "nein", "outcomes": { "ok": { "say": "Passt." }, "nein": { "say": "Leider nicht." } } }
          ```
        - **`list_available_slots`** / **`book_appointment`** — appointment booking on the
          organization's connected calendar; both tools share the same config
          ```json
          { "business_hours": { "mon": [["09:00", "12:00"], ["13:00", "17:00"]] }, "duration_minutes": 60, "lead_time_hours": 24, "search_window_days": 14, "contact_mode": "email", "email_variable": "email" }
          ```
        - **`resolve_contact`** — clears the contact channel before a booking in `contact_mode: phone`;
          all sentences are yours, `{mitarbeiter}` is the only placeholder
          ```json
          { "employee_name": "Herr Seiler", "confirm_calling_number": "...", "ask_mobile": "...", "ask_mobile_anonymous": "...", "ask_other_number": "...", "ask_email": "...", "no_contact": "..." }
          ```

        Each type's required fields and ranges are checked on create and update
        (`400 VALIDATION_ERROR` with `details[].field = "config"`).
      parameters:
        - $ref: "#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentToolCreate"
            examples:
              httpRequest:
                summary: HTTP Request tool
                value:
                  name: "lookup_customer"
                  display_name: "Kunden-Lookup"
                  description: "Looks up customer information by phone number"
                  tool_type: "http_request"
                  config:
                    url: "https://crm.example.com/api/customers"
                    method: "GET"
                    headers:
                      - name: "Authorization"
                        value: "Bearer {{API_KEY}}"
                    timeout: "5000"
                    speak_during_execution: true
                    speak_after_execution: true
                  priority: 1
                  is_enabled: true
              transferCall:
                summary: Transfer Call tool
                value:
                  name: "transfer_to_support"
                  description: "Transfers the call to human support"
                  tool_type: "transfer_call"
                  config:
                    phone_number: "+4930999888"
                    transfer_mode: "cold"
                    play_hold_music: false
              endCall:
                summary: End Call tool
                value:
                  name: "end_conversation"
                  description: "Ends the call politely"
                  tool_type: "end_call"
                  config:
                    goodbye_message: "Vielen Dank fuer Ihren Anruf. Auf Wiederhoeren!"
      responses:
        "201":
          description: Tool created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentTool"
        "400":
          $ref: "#/components/responses/ValidationError"
        "409":
          description: Tool with this name already exists for this agent
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/agents/{agentId}/tools/{toolId}:
    get:
      operationId: getTool
      tags: [Tools]
      summary: Get a tool
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/ToolId"
      responses:
        "200":
          description: Tool details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentTool"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    patch:
      operationId: updateTool
      tags: [Tools]
      summary: Update a tool
      description: |
        Partially update a tool. Only include changed fields. `tool_type` cannot be
        changed — a sent value is ignored, as are unknown fields.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/ToolId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgentToolUpdate"
            example:
              is_enabled: false
              config:
                url: "https://new-crm.example.com/api/customers"
                method: "POST"
      responses:
        "200":
          description: Updated tool
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentTool"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      operationId: deleteTool
      tags: [Tools]
      summary: Delete a tool
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/ToolId"
      responses:
        "204":
          description: Tool deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Employees
  # ──────────────────────────────────────────
  /v1/agents/{agentId}/employees:
    get:
      operationId: listEmployees
      tags: [Employees]
      summary: List employees
      description: Returns all employees linked to the specified agent.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: status
          in: query
          description: Filter by employee status
          schema:
            $ref: "#/components/schemas/EmployeeStatus"
        - name: active
          in: query
          description: Filter by active state
          schema:
            type: boolean
      responses:
        "200":
          description: List of employees
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Employee"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
              example:
                data:
                  - id: "emp-uuid-1"
                    name: "Max Mustermann"
                    phone_number: "+491701234567"
                    email: "max@example.com"
                    status: "anwesend"
                    active: true
                    get_mail: true
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
                    created_at: "2025-06-01T10:00:00Z"
                    updated_at: "2025-06-15T14:30:00Z"
                pagination:
                  page: 1
                  limit: 20
                  total: 5
                  pages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    post:
      operationId: createEmployee
      tags: [Employees]
      summary: Create an employee
      parameters:
        - $ref: "#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeCreate"
            example:
              name: "Max Mustermann"
              phone_number: "+491701234567"
              email: "max@example.com"
              status: "anwesend"
              active: true
              get_mail: true
      responses:
        "201":
          description: Employee created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employee"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/agents/{agentId}/employees/{employeeId}:
    get:
      operationId: getEmployee
      tags: [Employees]
      summary: Get an employee
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/EmployeeId"
      responses:
        "200":
          description: Employee details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employee"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    patch:
      operationId: updateEmployee
      tags: [Employees]
      summary: Update an employee
      description: |
        Partially update an employee. Common use case: changing the status
        (e.g., marking an employee as on vacation).
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/EmployeeId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmployeeUpdate"
            examples:
              changeStatus:
                summary: Mark employee as on vacation
                value:
                  status: "urlaub"
              updateContact:
                summary: Update contact info
                value:
                  phone_number: "+491709876543"
                  email: "max.new@example.com"
              deactivate:
                summary: Deactivate employee
                value:
                  active: false
      responses:
        "200":
          description: Updated employee
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Employee"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      operationId: deleteEmployee
      tags: [Employees]
      summary: Delete an employee
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/EmployeeId"
      responses:
        "204":
          description: Employee deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Contacts
  # ──────────────────────────────────────────
  /v1/agents/{agentId}/contacts:
    get:
      operationId: listContacts
      tags: [Contacts]
      summary: List contacts
      description: |
        Returns the agent's contacts (customer database), newest first.
        Filter by an exact phone number (matched against `phone_number`,
        `mobile_number` and `landline_number`, like the voice agent does), by a
        tag, or by a free-text search over name, company, e-mail and numbers.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: phone_number
          in: query
          description: Exact E.164 number; matches any of the three number fields
          schema:
            type: string
            example: "+491711234567"
        - name: tag
          in: query
          description: Only contacts carrying this tag (exact, case-sensitive)
          schema:
            type: string
            example: "vip"
        - name: search
          in: query
          description: Case-insensitive substring search over customer_name, company, email and the number fields
          schema:
            type: string
      responses:
        "200":
          description: List of contacts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Contact"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
              example:
                data:
                  - id: "3f1c2a9e-5b7d-4e2f-9a1b-0c8d7e6f5a4b"
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
                    customer_name: "Herr Fey"
                    salutation: "Herr"
                    first_name: null
                    last_name: "Fey"
                    name_parsed: "manual"
                    name_source: "manual"
                    phone_number: "+491711234567"
                    mobile_number: "+491711234567"
                    landline_number: "+492215550"
                    email: "fey@example.com"
                    address: "Musterstraße 1, 50667 Köln"
                    company: "Fey GmbH"
                    tags: ["vip", "stammkunde"]
                    note: "Bevorzugt Rückruf am Vormittag"
                    customer_number: 4711
                    last_contact_date: "2026-09-01T09:30:00Z"
                    created_at: "2026-08-01T10:00:00Z"
                    updated_at: "2026-09-01T09:30:00Z"
                pagination:
                  page: 1
                  limit: 20
                  total: 1
                  pages: 1
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    post:
      operationId: createContact
      tags: [Contacts]
      summary: Create a contact
      description: |
        Creates a contact for the agent. Name handling follows the Dashboard:
        send `salutation`/`first_name`/`last_name` and `customer_name` is
        composed from them (`name_parsed: manual`); send only `customer_name`
        and it is split automatically where unambiguous (`auto`), otherwise the
        full name is kept in `last_name` with `name_parsed: unclear` — the voice
        agent only greets contacts by name when `name_parsed` is not `unclear`.
        `phone_number` (the number the agent matches callers against) is derived
        from `mobile_number` (preferred) or `landline_number` when either is sent.
        All numbers must be E.164. `name_source` is set to `manual`.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactCreate"
            examples:
              withParts:
                summary: Name parts (greeted by name)
                value:
                  salutation: "Herr"
                  last_name: "Fey"
                  mobile_number: "+491711234567"
                  email: "fey@example.com"
                  company: "Fey GmbH"
                  tags: ["vip"]
              displayNameOnly:
                summary: Display name only (split automatically)
                value:
                  customer_name: "Tobias Lutz"
                  landline_number: "+492215550"
      responses:
        "201":
          description: Contact created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/agents/{agentId}/contacts/{contactId}:
    get:
      operationId: getContact
      tags: [Contacts]
      summary: Get a contact
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/ContactId"
      responses:
        "200":
          description: Contact details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    patch:
      operationId: updateContact
      tags: [Contacts]
      summary: Update a contact
      description: |
        Partial update. Name parts and numbers are merged with the stored
        contact, so `{"first_name": "Max"}` keeps the stored salutation and
        last name and recomposes `customer_name`. Sending `customer_name`
        alone re-splits it; `"customer_name": null` clears every name field.
        Sending `mobile_number` or `landline_number` re-derives `phone_number`.
        A changed name sets `name_source` to `manual`. Unknown and read-only
        fields are ignored.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/ContactId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContactUpdate"
            examples:
              addTag:
                summary: Tag a contact (drives greeting_variants)
                value:
                  tags: ["vip"]
              fixName:
                summary: Correct the first name
                value:
                  first_name: "Max"
              newNumber:
                summary: New mobile number
                value:
                  mobile_number: "+491719876543"
      responses:
        "200":
          description: Updated contact
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Contact"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      operationId: deleteContact
      tags: [Contacts]
      summary: Delete a contact
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/ContactId"
      responses:
        "204":
          description: Contact deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Forwarding Slots
  # ──────────────────────────────────────────
  /v1/agents/{agentId}/forwarding-slots:
    get:
      operationId: listForwardingSlots
      tags: [Forwarding Slots]
      summary: List forwarding slots
      description: |
        Returns all forwarding slots for the specified agent, ordered by slot number.
        Forwarding slots define how calls are routed to employees based on case type.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      responses:
        "200":
          description: List of forwarding slots
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ForwardingSlot"
              example:
                data:
                  - id: "slot-uuid-1"
                    slotnummer: "01"
                    cases: "Rechnungsfragen, Zahlungsprobleme"
                    slot_belegung: "Max Mustermann"
                    prioritaet_1: "+491701234567"
                    prioritaet_2: "+491709876543"
                    prioritaet_3: null
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
                  - id: "slot-uuid-2"
                    slotnummer: "02"
                    cases: "Technischer Support"
                    slot_belegung: "Erika Musterfrau"
                    prioritaet_1: "+491705555555"
                    prioritaet_2: null
                    prioritaet_3: null
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    post:
      operationId: createForwardingSlot
      tags: [Forwarding Slots]
      summary: Create a forwarding slot
      parameters:
        - $ref: "#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardingSlotCreate"
            example:
              slotnummer: "03"
              cases: "Vertragsfragen"
              slot_belegung: "Anna Schmidt"
              prioritaet_1: "+491701111111"
              prioritaet_2: "+491702222222"
      responses:
        "201":
          description: Forwarding slot created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForwardingSlot"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    put:
      operationId: replaceAllForwardingSlots
      tags: [Forwarding Slots]
      summary: Replace all forwarding slots
      description: |
        Replaces all forwarding slots for an agent in a single operation.
        Existing slots are deleted and replaced with the provided list.
        Useful for bulk synchronization from external systems.

        Atomic: every slot is validated first (each needs `slotnummer` and `cases`;
        invalid rows are rejected with `400` and nothing is written), then the old
        slots are replaced in a single transaction.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [slots]
              properties:
                slots:
                  type: array
                  items:
                    $ref: "#/components/schemas/ForwardingSlotCreate"
            example:
              slots:
                - slotnummer: "01"
                  cases: "Rechnungsfragen"
                  slot_belegung: "Max Mustermann"
                  prioritaet_1: "+491701234567"
                - slotnummer: "02"
                  cases: "Technischer Support"
                  slot_belegung: "Erika Musterfrau"
                  prioritaet_1: "+491705555555"
                  prioritaet_2: "+491706666666"
      responses:
        "200":
          description: All slots replaced
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ForwardingSlot"
                  replaced_count:
                    type: integer
                    description: Number of previous slots that were replaced
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/agents/{agentId}/forwarding-slots/{slotId}:
    patch:
      operationId: updateForwardingSlot
      tags: [Forwarding Slots]
      summary: Update a forwarding slot
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/SlotId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ForwardingSlotUpdate"
            example:
              cases: "Rechnungsfragen, Mahnungen"
              prioritaet_2: "+491703333333"
      responses:
        "200":
          description: Updated slot
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForwardingSlot"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      operationId: deleteForwardingSlot
      tags: [Forwarding Slots]
      summary: Delete a forwarding slot
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/SlotId"
      responses:
        "204":
          description: Slot deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Knowledge Base
  # ──────────────────────────────────────────
  /v1/agents/{agentId}/knowledge-base:
    get:
      operationId: listKbDocuments
      tags: [Knowledge Base]
      summary: List knowledge base documents
      description: |
        Returns the documents this agent can search: the ones it created (`scope: agent`)
        and the organization's shared company knowledge granted to it in the Dashboard
        (`scope: organization`, read-only via the API).
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: status
          in: query
          description: Filter by processing status
          schema:
            type: string
            enum: [pending, processing, ready, error, failed]
      responses:
        "200":
          description: List of KB documents
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/KbDocument"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
              example:
                data:
                  - id: "kb-uuid-1"
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
                    title: "Preisliste 2026"
                    content: "Unsere aktuellen Preise..."
                    source_type: "manual"
                    status: "ready"
                    chunk_count: 3
                    created_at: "2025-06-01T10:00:00Z"
                pagination:
                  page: 1
                  limit: 20
                  total: 2
                  pages: 1
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    post:
      operationId: createKbDocument
      tags: [Knowledge Base]
      summary: Create a knowledge base document
      description: |
        Create a new knowledge base document with text content
        (`source_type: manual`). The processing pipeline picks it up
        (`pending` → `processing` → `ready`), chunks and embeds the content.
        The status cannot be set via the API.

        For file uploads and website imports, use the Dashboard UI.
      parameters:
        - $ref: "#/components/parameters/AgentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KbDocumentCreate"
            example:
              title: "Oeffnungszeiten"
              content: |
                Unsere Oeffnungszeiten:
                Montag - Freitag: 08:00 - 18:00 Uhr
                Samstag: 09:00 - 14:00 Uhr
                Sonntag: geschlossen
      responses:
        "201":
          description: Document created (processing starts automatically)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KbDocument"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/agents/{agentId}/knowledge-base/{documentId}:
    get:
      operationId: getKbDocument
      tags: [Knowledge Base]
      summary: Get a knowledge base document
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/DocumentId"
      responses:
        "200":
          description: Document details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KbDocument"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    patch:
      operationId: updateKbDocument
      tags: [Knowledge Base]
      summary: Update a knowledge base document
      description: |
        Update a document's title or content. If content changes, the status goes
        back to `pending` and the pipeline re-chunks and re-embeds the document.
        Other fields (including `status`) are ignored.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/DocumentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KbDocumentUpdate"
            example:
              title: "Oeffnungszeiten (aktualisiert)"
              content: "Neue Oeffnungszeiten ab Maerz 2026..."
      responses:
        "200":
          description: Updated document
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KbDocument"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      operationId: deleteKbDocument
      tags: [Knowledge Base]
      summary: Delete a knowledge base document
      description: Deletes the document and all associated chunks/embeddings.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/DocumentId"
      responses:
        "204":
          description: Document deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Knowledge Base Chunks (Direct Access)
  # ──────────────────────────────────────────
  /v1/agents/{agentId}/knowledge-base/{documentId}/chunks:
    get:
      operationId: listKbChunks
      tags: [Knowledge Base]
      summary: List chunks for a document
      description: Returns all chunks for a specific knowledge base document.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/DocumentId"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
      responses:
        "200":
          description: List of chunks
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/KbChunk"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
              example:
                data:
                  - id: "chunk-uuid-1"
                    document_id: "doc-uuid-1"
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
                    content: "Produkt A kostet 29,99 EUR pro Monat..."
                    chunk_index: 0
                    token_count: 150
                    metadata: { "source": "pricing-system" }
                    created_at: "2026-04-27T10:00:00Z"
                pagination:
                  page: 1
                  limit: 20
                  total: 5
                  pages: 1
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    post:
      operationId: createKbChunks
      tags: [Knowledge Base]
      summary: Create chunks (batch)
      description: |
        Insert one or more pre-processed chunks for a document.
        Use this when your external system handles its own text splitting and embedding generation.
        Embeddings are write-only: they are never returned by the read endpoints.

        The `embedding` field expects a 1536-dimensional vector compatible with
        OpenAI's `text-embedding-3-small` model. Chunks without embeddings will not
        appear in vector search results during calls.

        Access is scoped to your organization — you can only write chunks for agents
        that belong to an organization you are a member of.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/DocumentId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KbChunkBatchCreate"
            example:
              chunks:
                - content: "Produkt A kostet 29,99 EUR pro Monat..."
                  embedding: [0.012, -0.034, 0.056]
                  chunk_index: 0
                  token_count: 150
                  metadata: { "source": "pricing-system", "version": "2.1" }
                - content: "Produkt B kostet 49,99 EUR pro Monat..."
                  embedding: [0.023, -0.045, 0.067]
                  chunk_index: 1
                  token_count: 120
                  metadata: { "source": "pricing-system", "version": "2.1" }
      responses:
        "201":
          description: Chunks created
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/KbChunk"
                  inserted_count:
                    type: integer
                    description: Number of chunks inserted
              example:
                data:
                  - id: "chunk-uuid-1"
                    document_id: "doc-uuid-1"
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
                    content: "Produkt A kostet 29,99 EUR..."
                    chunk_index: 0
                    token_count: 150
                    metadata: { "source": "pricing-system" }
                    created_at: "2026-04-27T10:00:00Z"
                inserted_count: 2
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

    delete:
      operationId: deleteKbChunks
      tags: [Knowledge Base]
      summary: Delete all chunks for a document
      description: |
        Removes all chunks for the given document. Useful before re-uploading
        updated chunks from an external system.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/DocumentId"
      responses:
        "204":
          description: All chunks deleted
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Calls (Read-Only)
  # ──────────────────────────────────────────
  /v1/agents/{agentId}/calls:
    get:
      operationId: listCalls
      tags: [Calls]
      summary: List calls
      description: |
        Returns calls for the specified agent with optional filtering.
        Results are ordered by `created_at` descending (newest first).
        Soft-deleted calls are excluded by default. Calls permanently deleted in
        the Dashboard trash are never returned, not even with `include_deleted=true`.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/PageParam"
        - $ref: "#/components/parameters/LimitParam"
        - name: done
          in: query
          description: Filter by completion status
          schema:
            type: boolean
        - name: from
          in: query
          description: Filter calls created after this date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Filter calls created before this date (ISO 8601)
          schema:
            type: string
            format: date-time
        - name: phone_number
          in: query
          description: Filter by caller phone number (exact match)
          schema:
            type: string
        - name: search
          in: query
          description: Search in customer name, phone number, or call summary
          schema:
            type: string
        - name: include_deleted
          in: query
          description: Include soft-deleted calls
          schema:
            type: boolean
            default: false
      responses:
        "200":
          description: List of calls
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Call"
                  pagination:
                    $ref: "#/components/schemas/Pagination"
              example:
                data:
                  - id: "call-uuid-1"
                    call_id: "lk_call_abc123"
                    customer_name: "Hans Meier"
                    customer_request: "Frage zu Rechnung #1234"
                    phone_number: "+491701234567"
                    duration: 180
                    done: true
                    general_success: true
                    disconnection_reason: "user_hangup"
                    call_summary: "Kunde fragte nach Rechnung..."
                    employee: "Max Mustermann"
                    note: null
                    agent_id: "550e8400-e29b-41d4-a716-446655440000"
                    created_at: "2026-03-19T10:30:00Z"
                pagination:
                  page: 1
                  limit: 20
                  total: 150
                  pages: 8
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/agents/{agentId}/calls/{callId}:
    get:
      operationId: getCall
      tags: [Calls]
      summary: Get call details
      description: |
        Returns full call details including transcript and audio URL.
        Purged calls (`is_purged: true`) have had their personal data removed by
        the retention process — expect `transcript`, `audio_file_url`, and
        `phone_number` to be null.
      parameters:
        - $ref: "#/components/parameters/AgentId"
        - $ref: "#/components/parameters/CallId"
      responses:
        "200":
          description: Call details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CallDetail"
              example:
                id: "call-uuid-1"
                call_id: "lk_call_abc123"
                customer_name: "Hans Meier"
                customer_request: "Frage zu Rechnung #1234"
                phone_number: "+491701234567"
                duration: 180
                done: true
                general_success: true
                final_score: 8
                disconnection_reason: "user_hangup"
                call_summary: "Kunde fragte nach Rechnung #1234. Agent konnte Frage beantworten."
                transcript: "[{\"role\":\"agent\",\"text\":\"Guten Tag...\"}]"
                audio_file_url: "https://storage.example.com/calls/abc123.wav"
                employee: "Max Mustermann"
                note: "Rueckruf vereinbart fuer Donnerstag"
                is_purged: false
                deleted_at: null
                agent_id: "550e8400-e29b-41d4-a716-446655440000"
                created_at: "2026-03-19T10:30:00Z"
                updated_at: "2026-03-19T10:35:00Z"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # Organization
  # ──────────────────────────────────────────
  /v1/organization:
    get:
      operationId: listOrganizations
      tags: [Organization]
      summary: List organizations
      description: |
        Returns every organization the caller has access to — for an API key, the
        organizations its creator is a member of. Not paginated.
      responses:
        "200":
          description: Organizations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/Organization"
              example:
                data:
                  - id: "org-uuid-1"
                    name: "Mustermann GmbH"
                    auto_delete_done_calls: false
                    created_at: "2025-01-01T00:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  /v1/organization/{orgId}:
    patch:
      operationId: updateOrganization
      tags: [Organization]
      summary: Update organization settings
      description: |
        The organization must be one the caller has access to; otherwise
        `404 NOT_FOUND`. Updatable: the five boolean switches and `notdienst_bereiche`;
        `name`, `max_concurrent_calls` and `concurrency_overflow_number` are read-only.
      parameters:
        - $ref: "#/components/parameters/OrgId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationUpdate"
            example:
              auto_delete_done_calls: true
      responses:
        "200":
          description: Updated organization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400":
          $ref: "#/components/responses/ValidationError"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ──────────────────────────────────────────
  # API Keys (Dashboard JWT auth only)
  # ──────────────────────────────────────────
  /v1/api-keys:
    get:
      operationId: listApiKeys
      tags: [API Keys]
      summary: List API keys
      description: |
        Lists the API keys the caller may manage: a `dev_admin` sees the keys they
        created themselves, a `super_admin` sees all keys. Other roles receive
        `403 FORBIDDEN`. **Requires Supabase JWT authentication** (not API key auth).
        The actual key values are never returned — only the prefix for identification.
      security:
        - bearerAuth: []
      responses:
        "200":
          description: List of API keys
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/ApiKeyInfo"
              example:
                data:
                  - id: "key-uuid-1"
                    name: "n8n Production"
                    key_prefix: "tp_live_a1"
                    organization_id: "org-uuid-1"
                    organization_name: "Mustermann GmbH"
                    created_by_email: "admin@mustermann.example"
                    is_own: true
                    permissions:
                      - "agents:read"
                      - "agents:write"
                      - "employees:read"
                      - "employees:write"
                    allowed_agent_ids: null
                    rate_limit_per_minute: 60
                    rate_limit_per_hour: 1000
                    is_active: true
                    last_used_at: "2026-03-19T09:15:00Z"
                    expires_at: null
                    created_at: "2026-01-15T10:00:00Z"
                    updated_at: "2026-03-19T09:15:00Z"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    post:
      operationId: createApiKey
      tags: [API Keys]
      summary: Create an API key
      description: |
        Creates a new API key. **The raw key is returned only once in the response.**
        Store it securely — it cannot be retrieved again.

        `organization_id` is optional and sets the key's home organization; it must be
        one of the caller's memberships (otherwise `400`). The key's data scope at
        request time is resolved from the creator's memberships, not from this field.

        **Requires Supabase JWT authentication** (not API key auth); `super_admin` or
        `dev_admin` only.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyCreate"
            example:
              name: "n8n Production"
              permissions:
                - "agents:read"
                - "agents:write"
                - "employees:read"
                - "employees:write"
                - "tools:read"
                - "tools:write"
              rate_limit_per_minute: 60
              expires_at: null
      responses:
        "201":
          description: API key created (raw key shown only once)
          content:
            application/json:
              schema:
                type: object
                properties:
                  key:
                    type: string
                    description: The raw API key — store this securely, it will not be shown again
                    example: "tp_live_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6"
                  id:
                    type: string
                    format: uuid
                  name:
                    type: string
                  permissions:
                    type: array
                    items:
                      type: string
                  allowed_agent_ids:
                    type: [array, "null"]
                    items:
                      type: string
                      format: uuid
                  rate_limit_per_minute:
                    type: integer
                  rate_limit_per_hour:
                    type: integer
                  created_at:
                    type: string
                    format: date-time
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

  /v1/api-keys/{keyId}:
    patch:
      operationId: updateApiKey
      tags: [API Keys]
      summary: Update an API key
      description: |
        Update key metadata (name, permissions, rate limits, active status).
        The key value itself cannot be changed — create a new key instead.

        **Requires Supabase JWT authentication.**
      security:
        - bearerAuth: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyUpdate"
            examples:
              deactivate:
                summary: Deactivate a key
                value:
                  is_active: false
              changePermissions:
                summary: Restrict to read-only
                value:
                  name: "n8n Read-Only"
                  permissions:
                    - "agents:read"
                    - "employees:read"
                    - "calls:read"
      responses:
        "200":
          description: Updated API key info
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyInfo"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

    delete:
      operationId: deleteApiKey
      tags: [API Keys]
      summary: Revoke an API key
      description: |
        Permanently deletes an API key. Any requests using this key will
        immediately receive `401 Unauthorized`.

        **Requires Supabase JWT authentication.**
      security:
        - bearerAuth: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "204":
          description: Key revoked
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"

# ════════════════════════════════════════════
# Components
# ════════════════════════════════════════════
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API key for external access. Format: `tp_live_<32-hex-chars>`.
        Create keys in the TalkPilot Dashboard under Settings > API.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase JWT token (for Dashboard-only endpoints like API key management)

  parameters:
    AgentId:
      name: agentId
      in: path
      required: true
      description: Agent UUID
      schema:
        type: string
        format: uuid
    ToolId:
      name: toolId
      in: path
      required: true
      description: Tool UUID
      schema:
        type: string
        format: uuid
    EmployeeId:
      name: employeeId
      in: path
      required: true
      description: Employee UUID
      schema:
        type: string
        format: uuid
    ContactId:
      name: contactId
      in: path
      required: true
      description: Contact UUID
      schema:
        type: string
        format: uuid
    SlotId:
      name: slotId
      in: path
      required: true
      description: Forwarding slot UUID
      schema:
        type: string
        format: uuid
    DocumentId:
      name: documentId
      in: path
      required: true
      description: Knowledge base document UUID
      schema:
        type: string
        format: uuid
    CallId:
      name: callId
      in: path
      required: true
      description: Call UUID
      schema:
        type: string
        format: uuid
    OrgId:
      name: orgId
      in: path
      required: true
      description: Organization UUID (from `GET /v1/organization`)
      schema:
        type: string
        format: uuid
    PageParam:
      name: page
      in: query
      description: Page number
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitParam:
      name: limit
      in: query
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: UNAUTHORIZED
              message: "Invalid or missing API key"
              request_id: "req_abc123"
    Forbidden:
      description: |
        Insufficient permissions (`FORBIDDEN`), or the agent is outside the key's
        `allowed_agent_ids` (`AGENT_NOT_ACCESSIBLE`)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            missingPermission:
              value:
                error:
                  code: FORBIDDEN
                  message: "API key lacks required permission: agents:write"
                  request_id: "req_abc123"
            agentNotAccessible:
              value:
                error:
                  code: AGENT_NOT_ACCESSIBLE
                  message: "API key does not have access to this agent"
                  request_id: "req_abc123"
    RateLimited:
      description: Too many requests for this API key (60/minute or 1,000/hour by default)
      headers:
        Retry-After:
          description: Seconds to wait before retrying — 60 for the minute window, 3600 for the hour window
          schema:
            type: integer
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: RATE_LIMITED
              message: "Rate limit exceeded. Try again in 60 seconds."
              request_id: "req_abc123"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: NOT_FOUND
              message: "Agent not found"
              request_id: "req_abc123"
    ValidationError:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            error:
              code: VALIDATION_ERROR
              message: "Invalid request body"
              details:
                - field: "llm_temperature"
                  message: "Must be between 0 and 2"
              request_id: "req_abc123"

  schemas:
    # ── Error ──
    Error:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message, request_id]
          properties:
            code:
              type: string
              enum:
                - VALIDATION_ERROR
                - UNAUTHORIZED
                - FORBIDDEN
                - AGENT_NOT_ACCESSIBLE
                - NOT_FOUND
                - CONFLICT
                - RATE_LIMITED
                - INTERNAL_ERROR
            message:
              type: string
            details:
              type: array
              items:
                type: object
                properties:
                  field:
                    type: string
                  message:
                    type: string
            request_id:
              type: string

    # ── Pagination ──
    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        pages:
          type: integer

    # ── Agent ──
    Agent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        organization_id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
        phone_number:
          type: string
        is_active:
          type: boolean
        language:
          type: [string, "null"]
          description: "Language code: de, en, fr, es"
        formality:
          type: [string, "null"]
          enum: [formal, informal]
          description: "formal = Sie, informal = Du"
        llm_provider:
          type: [string, "null"]
          enum: [azure, openai, gemini, gemini_live, gemini_live_cascade, openai_realtime, openai_realtime_cascade, groq]
        llm_model:
          type: [string, "null"]
          description: "Model identifier, e.g. gpt-4.1, gemini-2.5-flash, meta-llama/llama-4-scout-17b-16e-instruct, llama-3.3-70b-versatile, llama-3.1-8b-instant"
        llm_temperature:
          type: [number, "null"]
          minimum: 0
          maximum: 2
        tts_provider:
          type: [string, "null"]
          enum: [cartesia, elevenlabs, gemini_live, openai_realtime]
        voice_id:
          type: [string, "null"]
          description: "Voice identifier for TTS"
        realtime_voice:
          type: [string, "null"]
          description: "Voice for native realtime providers (OpenAI/Gemini)"
        speaking_rate:
          type: [number, "null"]
          minimum: 0.5
          maximum: 2.0
        stt_provider:
          type: [string, "null"]
          enum: [deepgram, elevenlabs, mistral, groq]
          description: "Speech-to-text provider (null for native realtime)"
        stt_keywords:
          type: [array, "null"]
          maxItems: 100
          items:
            type: string
          description: "Words the speech recognizer should prefer (names, products); max 100"
        prompt:
          type: string
          description: "System prompt for the agent"
          maxLength: 50000
        greeting:
          type: [string, "null"]
          description: "Initial greeting message when call starts"
          maxLength: 2000
        greeting_variants:
          type: [array, "null"]
          items:
            $ref: "#/components/schemas/GreetingVariant"
          description: |
            Personalised greetings. The first variant whose conditions all match the
            caller wins; otherwise `greeting` is spoken. A variant is only spoken when
            every placeholder in it has a value.
        post_call_webhook_url:
          type: [string, "null"]
          format: uri
          description: "Webhook URL called after each call completes"
        schedule:
          $ref: "#/components/schemas/AgentSchedule"
        backup_agent_id:
          type: [string, "null"]
          format: uuid
          description: "Fallback agent when outside the schedule"
        allow_greeting_interruption:
          type: [boolean, "null"]
          description: "Allow callers to interrupt the greeting"
        short_calls_auto_edit:
          type: boolean
          description: "Automatically mark very short calls as done"
        track_caller_name:
          type: boolean
          description: "Ask for and track the caller's name"
        transfer_timeout_seconds:
          type: [integer, "null"]
          minimum: 5
          maximum: 45
          description: "Timeout in seconds for call transfers (5-45)"
        bundesland:
          $ref: "#/components/schemas/Bundesland"
        background_audio_enabled:
          type: boolean
          description: "Play ambient background audio during the call"
        background_audio_type:
          $ref: "#/components/schemas/BackgroundAudioType"
        background_audio_volume:
          type: number
          minimum: 0
          maximum: 1
        thinking_sound_enabled:
          type: boolean
          description: "Play a subtle sound while the agent waits for the LLM"
        thinking_sound_volume:
          type: number
          minimum: 0
          maximum: 1
        aic_enhancement_enabled:
          type: boolean
          description: "On-device voice-focus enhancement (ai-coustics) before speech recognition"
        retention_days:
          type: [integer, "null"]
          readOnly: true
          description: "GDPR retention of call data in days (null = default 90). Managed in the Dashboard"
        metadata:
          type: [object, "null"]
          readOnly: true
          description: "Provider-specific tuning (e.g. Flux/EOU settings). Managed in the Dashboard"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    GreetingVariant:
      type: object
      required: [greeting]
      description: |
        Needs `greeting` plus at least one condition (`tag`, a time window `from`+`to`,
        or `min_calls_today`). Several conditions are combined with AND; the order of
        the variants is the priority. Unknown keys are rejected.
      properties:
        greeting:
          type: string
          description: "May use {{vorname}}, {{nachname}}, {{anrede}} (from the contact) and pre-call webhook variables"
        tag:
          type: string
          description: "A tag of the caller's contact (customer database), compared case-insensitively"
        from:
          type: string
          pattern: "^([01]\\d|2[0-3]):[0-5]\\d$"
          description: "Start of the time window, HH:MM Europe/Berlin (inclusive). Requires `to`"
        to:
          type: string
          pattern: "^([01]\\d|2[0-3]):[0-5]\\d$"
          description: "End of the time window (exclusive). `from` > `to` wraps past midnight"
        min_calls_today:
          type: integer
          minimum: 1
          description: "Caller has already called at least this many times today"

    Bundesland:
      type: string
      enum: [DE, BW, BY, BE, BB, HB, HH, HE, MV, NI, NW, NRW, RP, SL, SN, ST, SH, TH]
      description: "German state for public-holiday handling; DE = nationwide holidays only"

    BackgroundAudioType:
      type: string
      enum: [office, cafe, home_office]

    AgentUpdate:
      type: object
      description: Partial agent update. Only include fields you want to change.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        is_active:
          type: boolean
        language:
          type: [string, "null"]
        formality:
          type: [string, "null"]
          enum: [formal, informal]
        llm_provider:
          type: [string, "null"]
        llm_model:
          type: [string, "null"]
        llm_temperature:
          type: [number, "null"]
          minimum: 0
          maximum: 2
        tts_provider:
          type: [string, "null"]
        voice_id:
          type: [string, "null"]
        realtime_voice:
          type: [string, "null"]
        speaking_rate:
          type: [number, "null"]
          minimum: 0.5
          maximum: 2.0
        stt_provider:
          type: [string, "null"]
        stt_keywords:
          type: [array, "null"]
          maxItems: 100
          items:
            type: string
        prompt:
          type: string
          maxLength: 50000
        greeting:
          type: [string, "null"]
          maxLength: 2000
        greeting_variants:
          type: [array, "null"]
          items:
            $ref: "#/components/schemas/GreetingVariant"
        post_call_webhook_url:
          type: [string, "null"]
          format: uri
        schedule:
          $ref: "#/components/schemas/AgentSchedule"
        backup_agent_id:
          type: [string, "null"]
          format: uuid
        bundesland:
          $ref: "#/components/schemas/Bundesland"
        allow_greeting_interruption:
          type: [boolean, "null"]
        short_calls_auto_edit:
          type: boolean
        track_caller_name:
          type: boolean
        transfer_timeout_seconds:
          type: [integer, "null"]
          minimum: 5
          maximum: 45
        background_audio_enabled:
          type: boolean
        background_audio_type:
          $ref: "#/components/schemas/BackgroundAudioType"
        background_audio_volume:
          type: number
          minimum: 0
          maximum: 1
        thinking_sound_enabled:
          type: boolean
        thinking_sound_volume:
          type: number
          minimum: 0
          maximum: 1
        aic_enhancement_enabled:
          type: boolean

    AgentSchedule:
      type: [object, "null"]
      description: |
        Agent business hours. When set, the agent only accepts calls during
        the specified time windows. Outside hours, calls go to the backup agent.
      properties:
        timezone:
          type: string
          description: "IANA timezone identifier"
          example: "Europe/Berlin"
        rules:
          type: array
          items:
            type: object
            required: [days, start_time, end_time]
            properties:
              days:
                type: array
                items:
                  type: integer
                  minimum: 0
                  maximum: 6
                description: "Days of week (0=Sunday, 1=Monday, ..., 6=Saturday)"
                example: [1, 2, 3, 4, 5]
              start_time:
                type: string
                pattern: "^\\d{2}:\\d{2}$"
                description: "Start time in HH:mm"
                example: "08:00"
              end_time:
                type: string
                pattern: "^\\d{2}:\\d{2}$"
                description: "End time in HH:mm"
                example: "18:00"

    # ── Workflow ──
    Workflow:
      type: object
      required: [name, steps]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: [string, "null"]
          maxLength: 500
        steps:
          type: array
          minItems: 1
          maxItems: 20
          items:
            $ref: "#/components/schemas/WorkflowStep"

    WorkflowStep:
      type: object
      required: [id, name, description, completion]
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 50
          description: "Unique within the workflow"
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          minLength: 1
          maxLength: 20000
          description: "The instructions for this state"
        completion:
          type: string
          minLength: 1
          maxLength: 500
          description: "When this state counts as done"
        step_type:
          type: string
          enum: [prompt, action]
          default: prompt
        tools:
          type: array
          maxItems: 20
          items:
            type: string
          description: "Tool names available in this state"
        next:
          type: array
          maxItems: 10
          items:
            $ref: "#/components/schemas/WorkflowNextEdge"
          description: "Allowed follow-up states"

    WorkflowNextEdge:
      type: object
      required: [id]
      properties:
        id:
          type: string
          description: "Must reference an existing step id"

    WorkflowResponse:
      type: object
      properties:
        agent_id:
          type: string
          format: uuid
        workflow:
          oneOf:
            - $ref: "#/components/schemas/Workflow"
            - type: "null"
        updated_at:
          type: string
          format: date-time

    # ── Tool ──
    AgentTool:
      type: object
      properties:
        id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        name:
          type: string
          description: "Internal tool name (used in LLM function calling)"
        display_name:
          type: [string, "null"]
          description: "Human-readable display name"
        description:
          type: string
          description: "Tool description (shown to the LLM to decide when to use it)"
        tool_type:
          $ref: "#/components/schemas/ToolType"
        config:
          type: object
          description: "Tool-specific configuration (schema depends on tool_type)"
        is_enabled:
          type: [boolean, "null"]
        priority:
          type: [integer, "null"]
          description: "Execution priority (lower number = higher priority)"
        employee_id:
          type: [string, "null"]
          format: uuid
          description: >
            Optional link to an employee, for transfer tools only
            (`transfer_call`, `monitored_transfer`). When set, `config.phone_number`
            is derived from `employees.phone_number` and kept in sync automatically —
            changing the employee's number changes the transfer target.
            `null` means the number is managed on the tool itself.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AgentToolCreate:
      type: object
      required: [name, description, tool_type, config]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: "Internal tool name (lowercase, underscores)"
        display_name:
          type: [string, "null"]
          maxLength: 255
        description:
          type: string
          minLength: 1
          maxLength: 2000
        tool_type:
          $ref: "#/components/schemas/ToolType"
        config:
          type: object
        is_enabled:
          type: boolean
          default: true
        priority:
          type: [integer, "null"]
        employee_id:
          type: [string, "null"]
          format: uuid
          description: >
            Link this transfer tool to an employee. `config.phone_number` is then
            derived from the employee and must not be sent with a different value —
            doing so returns `409 CONFLICT`. The employee must belong to the same
            agent and must have a phone number, otherwise `400 VALIDATION_ERROR`.

    AgentToolUpdate:
      type: object
      description: Partial tool update. Only include fields to change.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        display_name:
          type: [string, "null"]
          maxLength: 255
        description:
          type: string
          maxLength: 2000
        config:
          type: object
        is_enabled:
          type: boolean
        priority:
          type: [integer, "null"]
        employee_id:
          type: [string, "null"]
          format: uuid
          description: >
            Set to link the transfer tool to an employee, `null` to unlink and
            manage the number on the tool again. While a link exists, sending a
            `config.phone_number` that differs from the employee's number returns
            `409 CONFLICT` — the derived value would silently win otherwise.

    ToolType:
      type: string
      enum:
        - http_request
        - transfer_call
        - monitored_transfer
        - end_call
        - extract_variable
        - play_tone
        - knowledge_base
        - set_call_result
        - identify_caller
        - switch_agent
        - verify_value
        - resolve_contact
        - list_available_slots
        - book_appointment
      description: |
        Tool types accepted by the API:
        - `http_request` — Make HTTP requests to external APIs
        - `transfer_call` — Blind or warm call transfer
        - `monitored_transfer` — SIP INVITE transfer with monitoring
        - `end_call` — End the call with optional goodbye message
        - `extract_variable` — Extract structured data (email, phone, etc.)
        - `play_tone` — Play DTMF tones
        - `knowledge_base` — Search the agent's knowledge base
        - `set_call_result` — Record a call outcome (no config)
        - `identify_caller` — Caller identification handshake via your webhooks
        - `switch_agent` — Hand the call over to another agent
        - `verify_value` — Deterministic check of a dictated value against rules
        - `resolve_contact` — Establish how to reach the caller before booking (phone mode)
        - `list_available_slots` — Offer free appointment slots from the connected calendar
        - `book_appointment` — Book the chosen slot (same config as `list_available_slots`)

    # ── Employee ──
    Employee:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        phone_number:
          type: [string, "null"]
        email:
          type: [string, "null"]
          format: email
        status:
          $ref: "#/components/schemas/EmployeeStatus"
        active:
          type: boolean
        get_mail:
          type: boolean
          description: "Whether the employee receives email notifications"
        agent_id:
          type: [string, "null"]
          format: uuid
        organization_id:
          type: [string, "null"]
          format: uuid
          readOnly: true
        back_at_work_at:
          type: [string, "null"]
          format: date
          description: "Expected return date (YYYY-MM-DD) while absent"
        notdienst_bereich:
          type: [string, "null"]
          description: "Emergency-duty area of the current shift (one of the organization's `notdienst_bereiche`). Cleared automatically when the status leaves `notdienst`"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    EmployeeCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        phone_number:
          type: [string, "null"]
          maxLength: 30
        email:
          type: [string, "null"]
          format: email
        status:
          $ref: "#/components/schemas/EmployeeStatus"
        active:
          type: boolean
          default: true
        get_mail:
          type: boolean
          default: false
        back_at_work_at:
          type: [string, "null"]
          format: date
        notdienst_bereich:
          type: [string, "null"]
          description: "Only kept when status is `notdienst`"

    EmployeeUpdate:
      type: object
      description: Partial employee update.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        phone_number:
          type: [string, "null"]
          maxLength: 30
        email:
          type: [string, "null"]
          format: email
        status:
          $ref: "#/components/schemas/EmployeeStatus"
        active:
          type: boolean
        get_mail:
          type: boolean
        back_at_work_at:
          type: [string, "null"]
          format: date
        notdienst_bereich:
          type: [string, "null"]
          description: "Only kept when status is `notdienst`; a status change away from it clears the area"

    EmployeeStatus:
      type: string
      enum:
        - anwesend
        - urlaub
        - krank
        - weiterbildung
        - notdienst
        - im_termin
        - ausser_haus
      description: |
        Employee availability status:
        - `anwesend` — Present / available
        - `urlaub` — On vacation
        - `krank` — Sick leave
        - `weiterbildung` — In training
        - `notdienst` — Emergency duty
        - `im_termin` — In a meeting
        - `ausser_haus` — Out of office

    # ── Contact ──
    NameParsed:
      type: string
      enum: [auto, llm, manual, unclear]
      readOnly: true
      description: |
        Whether `salutation`/`first_name`/`last_name` are usable for a personal
[...]
